/* Coolors Exported Palette - https://coolors.co/022b3a-1e91d6-e8f1f2-6d9f71-e4e3d3 */

/* CSS HEX */
--gunmetal: #022b3aff;
--green-blue-crayola: #1e91d6ff;
--alice-blue: #e8f1f2ff;
--forest-green-crayola: #6d9f71ff;
--eggshell: #e4e3d3ff;

/* CSS HSL */
--gunmetal: hsla(196, 93%, 12%, 1);
--green-blue-crayola: hsla(203, 75%, 48%, 1);
--alice-blue: hsla(186, 28%, 93%, 1);
--forest-green-crayola: hsla(125, 21%, 53%, 1);
--eggshell: hsla(56, 24%, 86%, 1);

/* SCSS HEX */
$gunmetal: #022b3aff;
$green-blue-crayola: #1e91d6ff;
$alice-blue: #e8f1f2ff;
$forest-green-crayola: #6d9f71ff;
$eggshell: #e4e3d3ff;

/* SCSS HSL */
$gunmetal: hsla(196, 93%, 12%, 1);
$green-blue-crayola: hsla(203, 75%, 48%, 1);
$alice-blue: hsla(186, 28%, 93%, 1);
$forest-green-crayola: hsla(125, 21%, 53%, 1);
$eggshell: hsla(56, 24%, 86%, 1);

/* SCSS RGB */
$gunmetal: rgba(2, 43, 58, 1);
$green-blue-crayola: rgba(30, 145, 214, 1);
$alice-blue: rgba(232, 241, 242, 1);
$forest-green-crayola: rgba(109, 159, 113, 1);
$eggshell: rgba(228, 227, 211, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-right: linear-gradient(90deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-bottom: linear-gradient(180deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-left: linear-gradient(270deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-top-right: linear-gradient(45deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-bottom-right: linear-gradient(135deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-top-left: linear-gradient(225deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-bottom-left: linear-gradient(315deg, #022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);
$gradient-radial: radial-gradient(#022b3aff, #1e91d6ff, #e8f1f2ff, #6d9f71ff, #e4e3d3ff);